:80 {
	# Set this path to your site's directory.
	root * /usr/share/caddy

	# Enable the static file server.
	file_server

	# Another common task is to set up a reverse proxy:
	# reverse_proxy localhost:8080

	# Or serve a PHP site through php-fpm:
	# php_fastcgi localhost:9000
}

:6969 {
	respond "Hello, world!"
}

:2080 {
	# Reverse proxy from Caddy container to another container
	reverse_proxy http://web
}

:3080 {
	# Reverse proxy from Caddy container to a server external to the Docker host
	reverse_proxy http://192.168.13.55
}

:4080 {
	# Reverse proxy from Caddy container to the Docker host
	# http://localhost:4080/
	# http://localhost:4080/~daniel
	reverse_proxy http://192.168.13.104
}
